<div class="separador"></div>
<form novalidate (ngSubmit)="loginUser()" [formGroup]="loginForm">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput2" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div *ngIf="usuarioIncorrecto" class="alert alert-danger mt-3" role="alert">
    {{message}}
</div>