<div class="separador"></div>
<h2>Registrar usuario</h2>
<form #fu="ngForm" (ngSubmit)="register(fu)">
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastname" name="lastName" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="phone" name="phone" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" name="email" aria-describedby="email">
        <div id="emailHelp" class="form-text">We'll never share email with anyone else</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>